
:root{
    --eps-hair: #00b0b0;
    --eps-skin: #f0d0d0;
    --eps-clothes: #4040e0;

    --eps-color: (1:var(--eps-hair);
            2:var(--eps-skin);
            3:var(--eps-clothes);
            )
    --eps-lemming:  0,0,0,0,1,1,0,0,0,0,
                    0,0,0,1,1,1,1,0,0,0,
                    0,0,0,1,2,2,1,0,0,0,
                    2,0,0,0,2,2,0,0,0,2,
                    2,2,2,2,3,3,2,2,2,2,
                    0,0,0,0,3,3,0,0,0,0,
                    0,0,0,0,3,3,0,0,0,0,
                    0,0,0,3,3,3,3,0,0,0,
                    0,0,0,3,0,0,3,0,0,0,
                    0,0,2,2,0,0,2,2,0,0;
}
 
.lemming--blocker {
    width: 1px;
    height: 1px;
    margin: 100px;
    
    transform: scale(10);
    
    animation: blocker .65s step-start infinite;
    box-shadow: lemming(--eps-lemming);
  }